{% extends 'pagina/layout.html' %}
{% block content %}
{% load static %}
    <div class="container-fluid">
        <div class="card w-75 mx-auto">
            <div class="card mb-3">
                <h4 class="card-title text-center">Compra y Vende a la velocidad de un click</h4>
                <img src="{% static 'images/jaguarete.jpg' %}" alt="jaguarete" class="card-img-top" style="max-width:60%; max-height:50%;">
                <div class="card-body">
                    
                    <p class="card-text">Creada en 2016, Jaguarete KAA es una compañia de compra y venta de articulos online lider en países como Argentina, Uruguay, Chile y Brasil.</p>
                    <p class="card-text">Fundada por José Giraudo, cuenta con un grupo profesional muy grande de empleados, y aprovechando el auge de internet, buscando posicionarse como una de las empresas líderes del mercado</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}