{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <title>Jaguarete KAA webshop</title>
    </head>

    <body style="background-color:light-blue;">
        <header class="">
            <div class=""
                style="
                    background-image: url({% static 'images/logo.jpg' %});
                    min-height: 10em;
                "
            >
                <div class="mt-5 row">
                <div class="col-sm-12 col-md-3 mt-5">
                    <h2 style="padding-left: 0.2em; font-family: 'Zen Tokyo Zoo', cursive; background-color: #000; color: #FFF;" class=>JAGUARETE KAA</h2>
                </div>
                <div class="col-sm-12 col-md-3">
                </div>
                <div id="bloque_login" class="col-12 col-md-6" style="text-align: right; align-items: right;">
                {% comment %} d-grid gap-2 d-md-flex justify-content-md-end {% endcomment %}
                    {% if user.is_authenticated %}
                    <div class="row" style="margin-top: 8em;">
                        <div class="col-sm-12 col-md-4">
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <p style="text-align:center; background-color: rgba(247, 247, 77, 0.59); font-weight: 500; font-size: 1.3em; color: #000;">Estas conectado como: {{ user.get_username }}</p> 
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <a style="margin-right: 0.2em;" role="button" class="btn btn-danger btn-sm" href="{% url 'logout' %}?next={{request.path}}">
                                Salir
                            </a>
                        </div>
                    </div>
                    {% else %}                  
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <a role="button" class="btn btn-outline-success btn-sm" href="{% url 'login' %}?next={{request.path}}">Acceder</a>
                    </div>
                    {% endif %} 
                </div>
                </div>
            </div>
            
        </header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">JGT KAA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'pagina:index' %}">Home</a>
                    </li>
                   
                    <li class="nav-item dropdown">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorias
                            </a>
                            <div class="dropdown-menu">
                                {% for categoria in lista_categorias %}
                                    <a class="dropdown-item" href="{% url 'pagina:categoria' categoria.id %}">{{ categoria }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pagina:acercade' %}">Acerca de..</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pagina:contacto' %}">Contacto</a>
                    </li>
                    {% if perms.pagina.change_item %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pagina:nuevo' %}">Nuevo Item</a>
                        </li>
                    {% endif %}

                </ul>
                
                {% if not perms.pagina.change_item and  user.is_authenticated %}
                <div class="btn-group dropdown" style="margin-right: .5em">
                    <a role="button" class="btn btn-light" href="{% url 'pagina:vistaCarrito' %}" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"></path>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                        </svg> Carrito
                    </a>
                    <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for item in lista_carrito %}                                
                            <li class="list-group-item">{{ item.titulo }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}


                <form class="d-flex" method='GET'>
                    <input class="form-control me-2" type="text" placeholder="Busqueda" name="buscar">
                    
                    <button class="btn btn-outline-success" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg> Buscar
                    </button>
                </form>
                </div>
            </div>
        </nav>

        {% comment %} <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> {% endcomment %}


        {% block content %}
        
        {% endblock %}

        <footer class="page-footer font-small">

            <div class="footer-copyright text-center py-3">José Giraudo © 2021 Copyright.
                <p>En nombre de<a href="{% url 'pagina:contacto' %}" class="link-dark"> Juaguarete KAA S.A.</a></p>
            </div>

        </footer>
        

    </body>


</html>